body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  
}

/* background-color: hsl(98, 100%, 78%); */

.key-color-main {
  /* Background : Blue */
  background-color: #9eff91;
  /* Text : White */
  color: rgb(0, 0, 0)
}

.main-header{
  -webkit-app-region: drag;
}

.drag-disable {
  -webkit-user-select:none
}