body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  
}

.key-color-main {
  /* Background : Blue */
  background-color: #0045FB;
  /* Text : White */
  color: white
}

.main-header{
  -webkit-app-region: drag;
}

.drag-disable {
  -webkit-user-select:none
}